#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: hsl(55, 98%, 46%);
  text-align: end;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #070707aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #181818aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

button {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background: #64ff64;
  color: white;
  transition: background 0.3s, transform 0.2s;
  filter: drop-shadow(0 0 2em #070707aa);
}
button:hover {
  background: #535bf2;
  transform: scale(1.05);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  min-height: 100vh;      
  text-align: center;
}
.message {
  margin-top: 1rem;
  font-weight: bold;
  color: #eeecec;
}
.read-the-docs{
  color:#eeecec
}
